{
  "extends": [
    "react-app",
    "prettier/prettier",
    "eslint-config-prettier",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@next/next/recommended"
  ],
    "env": {
      "browser": true,
      "node": true,
      "commonjs": true,
      "es6": true
    },
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "simple-import-sort",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "prettier/prettier": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ],
        "allowSeparatedGroups": false
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-tabs": "error",
    "semi": [
      "error",
      "never"
    ],
    "import/no-anonymous-default-export": 0,
    "object-shorthand": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "@typescript-eslint/no-redeclare": 0
  }
}