@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

em {
    font-weight: bold;
}

.center {
    display : block;
    text-align : center;
    margin : 0 auto; padding : 0;
}

ul {
    padding : 0; margin : 0;
    text-align : center;
}

li {
    display : inline-block;

    margin : 0px 15px;

    max-width : 250px;
    width : 100%;

    border-radius: 3px;  
    box-shadow : 1px 1px 3px #999999;
    box-sizing: border-box;

    background-color: white;

    &>a {
        display : block;
        text-decoration: none;
        
        line-height: 50px;

        color : #333333;
        font-size : 24px;
        font-family: 'Jua', sans-serif;

        &:visited {
            color : #333333;
        }
        &:active {
            color : #eeeeee;
            background-color : #435ebe;
            border-radius : 3px;
        }
    }

    &:hover {
            @keyframes button {
                from {
                    background-color : white;
                }
                to {
                    background-color : #eeeeee;
                }
            }

            animation: button .3s linear forwards;
            transition : .6s ease-in;
        
        }
}