:root {
  --darkMode-dark-bg : #1b241f;
  --darkMode-dark-toggle-bg : #212c26;
  --darkMode-dark-sh : #232323;
  --darkMode-light-bg : #ddd;
  --darkMode-light-toggle-bg : #eee;
  --darkMode-light-sh : #eaeaea;
  --bottom-line : #999;

    .dark {
      --normal-after : #bcecd3;
      --normal-active : #739684;
      --normal-ft : #eee;
      --normal-bg : #444;
      --header : #2e3b35;
      --header-after : #36443d;
      --header-shadow : #222c27;
      --footer-bg : #252525;
      --footer-after : #2b2a2a;
      --scrollbar : #739684;
      --scrollbar-bg : #323d38;
      --content-ft : #bcecd3;
    }

    .light {
      --normal-after : #257750;
      --normal-active : #121f18;
      --normal-ft : #444;
      --normal-bg : #eee;
      --header : #8ac5a8;
      --header-after : #82bb9f;
      --header-shadow : #5b7568;
      --footer-bg : #d1d0d0;
      --footer-after : #cac8c8;
      --scrollbar : #788a81;
      --scrollbar-bg : #9dc9b2;
      --content-ft : #455e51;
    }
}

#App {
  display : flex;
  flex-direction : column;
  flex : 1;
  width : 100vw;
  height : 100vh;
  transition: .6s; -webkit-transition : .6s; -mos-transition : .6s;
  color : var(--normal-ft);
  background-color : var(--normal-bg);
}

@keyframes Choice {
    to { color : var(--normal-after); }
}

@keyframes Active {
    to {
        color : var(--normal-active);
    }
}

@keyframes Header_hover {
    to {
        background-color : var(--header-after);
    }
}

@keyframes Footer_hover {
  to {
      background-color : var(--footer-after);
  }
}

@keyframes Navigator {
  from { opacity : .5; left : -2rem; }
    to { opactiy :  1; left : 0;  }
}

@keyframes Stuff_hover {
    to { left : -1rem }
}

@keyframes Stuff_hover_before {
    from { left : -1rem } to { left : 0 }
}