.Content {
    display : flex;
    flex : 1;
    height : calc(100vh - (60px + 80px + 80px));
    padding : 1.6rem 12rem;
}

/*
    Sidebar를 Data와 flex로 정렬할 땐,
    display : flex
    flex : none (크기를 고정)

    height :80%
    의 값을 주었음

    반응형 웹 : 100vh (높이 100%)
*/