.Data {
    display : flex;
    flex-direction: column;
    padding : 1rem 2rem;
    width : 97%;
    overflow-y : auto;
    overflow-x : hidden;
    white-space : pre-wrap;

    &::-webkit-scrollbar {
        width : 8px;

        &-thumb {
            background-color : var(--scrollbar);
            border-radius : 3px;
            box-shadow : 0px 0px 2px 1px inset var(--scrollbar-bg);
        }

        &-track {
            background-color : var(--scrollbar-bg);
        }
    }

    > .title, .comment, .main_content {
        width : inherit;
        border-bottom : 1px solid var(--bottom-line);

        padding : 1.6rem .8rem;
    }

    > .title {
        font-size : 28px;
        font-weight : bold;
        color : var(--content-ft);
    }

    > .main_content {
        line-height : 32px;
    }

    > .comment {
        font-size : 16px;
    }
}