.Footer {
    display : flex;
    
    background-color : #111;

    margin-top : auto;

    padding : 1.2rem 12rem;
    font-size : 12px;

    white-space : pre-wrap;

    .Wrap_SNS {
        margin-left : auto;
        display : flex;
        background-color : inherit;

        > .SNS {
            background-color : inherit;
            margin-left : 48px;
        }

        > img {
            width : 36px;
            height : 48px;
        }
    }
}