.Footer {
    display : flex;
    background-color : var(--footer-bg);
    padding : .8rem 12rem;
    font-size : 12px;
    white-space : pre-wrap;

    &:hover {
        animation : Footer_hover .15s ease-out forwards;
    }

    .Wrap_SNS {
        margin-left : auto;
        display : flex;

        > .SNS {
            display : inherit;
            vertical-align: middle;
            margin-left : 48px;

            &:hover {
                animation: Choice .15s ease-out forwards;
                cursor : pointer;
            }
            &:active {
                animation: Active .15s ease-out forwards;
                cursor : wait;
            }

            >img { margin : auto 0; }
            >img.image {
                filter: brightness(5);
                
                &:hover {
                    animation: Footer_image_hover .15s ease-out forwards;
                    cursor : pointer;
                }
                &:active {
                    animation: Footer_image_active .15s ease-out forwards;
                    cursor : wait;
                }
            }
            >#naver {
                margin : auto 0;
                filter : grayscale(1);

                &:hover {
                    animation: Footer_image_naver_hover .15s ease-out forwards;
                    cursor : pointer;
                }
                &:active {
                    animation: Footer_image_active .15s ease-out forwards;
                    cursor : wait;
                }
            }
        }
    }
}