.Header {
    display : flex;
    // justify-content: space-between;
    flex : none;
    padding : 1.2rem 3rem;
    height : 40px;

    background-color : #222;

    > h1 {
        text-align : center;
        white-space: nowrap;

        padding-top : 6px;

        background-color : #222;
    }
}

