.dropDown {
    margin-left : 24px;
    box-shadow : 0px 0px 4px 5px var(--dropDown);
    background-color : var(--dropDown);
    height : 46 * 6px;
    z-index : 2;
}

.dropDown_off {
    margin-left : 24px;
    background-color : var(--header);
}

.dropDown > li, .dropDown_off > li {
    display : block;
    text-decoration : none;
    list-style-type : none;

    width : 150px;
    margin-bottom : 10px;
    padding : 5px 10px;

    overflow : hidden;
    white-space : nowrap;

    background-color : var(--level);

    border-radius: 3px;  
    box-shadow : 1px 1px 3px var(--level-after);
    box-sizing: border-box;

    &:hover {
        @keyframes level_button {
            from {
                background-color : var(--level);
                padding-left : 10px;
            }
            to {
                background-color : var(--level-after);
                padding-left : 15px;
            }
        }
        animation: level_button .15s ease-out forwards;
        cursor : pointer;

        > #icon {
            @keyframes level_icon {
            from {
                margin-left : 28px;
                background-color : var(--level);
            }
            to {
                margin-left : 23px;
                background-color : var(--level-after);
            }
        }
        animation : level_icon .15s ease-out forwards;
        cursor : pointer;
        }
    }

    &:active {
        @keyframes level_button_active {
            from {
                background-color : var(--level-after);
                box-shadow : 1px 1px 3px var(--level-after);
                padding-left : 15px;
            }
            to {
                background-color : var(--level-active);
                box-shadow : 0px 1px 5px 1px var(--header) inset;
                padding-left : 15px;
            }
        }
        animation: level_button_active .1s ease-out forwards;
        cursor : wait;

        > #icon {
            @keyframes level_icon_active {
            from {
                background-color : var(--level-after);
                margin-left : 23px;
            }
            to {
                background-color : var(--level-active);
                margin-left : 23px;
            }
        }
        animation: level_icon_active .1s ease-out forwards;
        cursor : wait;
        }
    }

    &.Not_Choosed {
        background-color : var(--default);
        box-shadow : 1px 1px 3px var(--default-shadow);
        display : none;

        &:hover {
            box-shadow: 1px 1px 3px var(--level-after);
        }
    }

    > #icon {
        float : right;
        margin-top : 6px;
        background-color : var(--level);
    }
}