.MenuSpace_wrap {
    display : flex;
    margin-left: auto;

    > .MenuSpace {
        font-weight : bold;     
        margin : auto 0;
        display : inline-block;
        margin-left : 24px;

        &:hover {
            animation: Choice .15s ease-out forwards;
            cursor : pointer;
        }
        &:active {
            animation: Active .15s ease-out forwards;
            cursor : wait;
        }
    }
}