.Navigator {
    flex : none;
    width : 250px;

    margin-right : 12px;
    padding-top : 30px;

    box-shadow : 0px 0px 35px 0px #222 inset; 

    overflow-x : hidden;
    overflow-y : scroll;

    > li {
        width : 95%;
        background-color : var(--default);
        box-shadow : 1px 1px 3px var(--default-shadow);

        &:hover {
            box-shadow: 1px 1px 3px var(--level-after);
        }
    }

    > #Search {
        display : flex;
        margin-top : -30px;

        > input {
            width : 100%;
            margin-right : 10px;
            margin-bottom : 15px;
            padding-left : 10px;

            border-radius : 5px;

            background-color : #EEEEEE;
            color: #333;
        }

        > svg {
            float : right;
            padding : 6px;

            margin-right : 12px;

            background-color : #444;
            border-radius : 5px;
            box-shadow : 0px 0px 2px 1px #222;

            &:hover {
                @keyframes Search_button {
                    from {
                        background-color : var(--level);
                    }
                    to {
                        background-color : var(--level-after);
                    }
                }
                animation: Search_button .15s ease-out forwards;
                cursor : pointer;
            }

            &:active {
                @keyframes Search_button_active {
                    from {
                        background-color : var(--level-after);
                    }
                    to {
                        background-color : var(--level-active);
                    }
                }
                animation: Search_button_active .15s ease-out forwards;
                cursor : wait;
            }
        }
    }

    &::-webkit-scrollbar {
        width : 10px;

        &-thumb {
            background-color : #2f3542;
            border-radius : 3px;
            box-shadow : 0px 0px 4px 1px inset #222;
        }

        &-track {
            background-color : #222;
        }
    }
}