.Navigator_wrap {
    display : none;
    // display : inline-block; (임시)
    height : 100%;
    background-color : orange;
    min-width : 15rem;

    > .Navigator_stuff_wrap {
        display : flex;
        flex-direction: column;
        position : relative;
        left : -3rem;
        max-width : 3rem;
        background-color : purple;
    }

    > .Navigator {
    background-color : black;
    display : inline-block;
    width : 100%;

         > .Profile {
            background-color : blue;
        }
        > .Navigator_menu_wrap {
            background-color : green;
        }
    }
}